.icon{
    background: rgb(255, 0, 106);
    color: white;
    margin-bottom: 0;
    height: 30px;
    padding: 7px;
    width: 30px;
    font-size: 52px !important;
    border-radius: 50px;

}
.featureText {
    width: 42%;
    text-align: left;
    margin-top: 4rem;
}
@media only screen and (max-width: 600px) {
    .featureText {
        width: 100%;
    }
    
}