.popUp{
    position: fixed;
    top: 10%;
    left: 20%;
    width: 60%;
    height: 400px;
    background: rgba(66, 66, 66, 0.815);
    content: "";
    z-index: 100;
    color: white;
    margin-top: 100px;
    border-radius: 7px;
}
.cross{
    cursor: pointer;
    padding: 7px;
    background: red;
    height: 50px;
    color:white;
    border-radius: 50px;
    margin: 10px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}